.color_strip {
    height: 200px;
    width: 100%;
    transition: background-color 1s;
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.answer {
    background-color: white;
    padding: 6px;
    border-radius: 4px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}

.inputs {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.controls {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.error {
    color: crimson;
}